$color-orange: hsl(35, 77%, 62%);
$color-red: hsl(5, 85%, 63%);
$color-white: hsl(36, 100%, 99%);
$color-primary-blue: hsl(233, 8%, 79%);
$color-secondary-blue: hsl(236, 13%, 42%);
$color-tertiary-blue: hsl(240, 100%, 5%);