* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: $color-white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}